form.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group {
  position:relative;
  margin-bottom: 1rem;
}

label.label {
  font-weight: bold;
}

label.permission {
  margin: 1px;
  font-weight: normal;
  font-size: 8;
}

.form-group span {
  position: absolute;
  display: inline-block;
  padding: 3px 15px;
  font-size: 14px;
  color: #ea0d36;
  border-radius: 5px;
  top: 140%;
  right: 0;
  transform: translateY(-100%);  
}

.form-group .permission span{
  top: 170%;
  left: 0;
}

input.form-control[aria-invalid="true"] {
  box-shadow: 1px 1px 3px rgba(234, 13, 54, 1);
}

input.form-control:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

input.form-control {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  height: 2.2rem;
  margin-top:4px;
}

.form-group{
  display: flex;
  flex-direction: column;
}


button.btn {
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  margin-bottom: 10px;
  margin-top:15px;
  background-color: #1290dd;
  color: white;
  border-radius: 0.25rem;
  border: 1px solid #5a5a58;
  height: 2.2rem;
  width:25%;
}

button.btn:hover {  
  transform: translate(-2px, -2px);
  background-color: #0e69a2;
}


.permission a{
  color: blue;
}

.permission a:hover,
.permission a:focus,
.permission a:active {
  text-decoration: underline;
}

.form-group-fake{
  display: none;
}

.spinner-background{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.4;
  z-index: 99;
  background-color: grey;
}

.spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  
  height: 50px;
  animation: spin 1s linear infinite;
}

.spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}