.intro{
  margin: 50px 0;
}
.intro span{
  color: #0085AE;
  font-weight: bold;
  
}
.container {
  max-width:70rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

a.url {
  color: blue;
  text-decoration: none;
}

a.url:hover {
  color: darkblue;
  text-decoration: underline;
}